.card{
    width: 300px;
    border: 2px solid gainsboro;
    border-radius: 5px;
    color: gainsboro;
    padding-bottom: 20px;
}
.card img{
    width: 100%;
    border-radius: 5px;
}
.user-info{
    padding: 5px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.addres{
    width: 100%;
    border:1px solid white;
    padding: 12px;
    border-radius: 5px;
    background-color: #FC7F40;
    color: white;
}
.cars{
    width: 100%;
    border:1px solid white;
    padding: 12px;
    border-radius: 5px;
    background-color: aqua;
    color: black;
}